*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font font-family: 'Open Sand', sans-serif;
}

@media screen and (min-width: 280px){
   
    .jl-page-wrapper{
        width: 100%;
        height: 100vh;
        display: block;
        background-color: #1c1c1c;
        border: 19px solid #000;
    }

    .jl-topbar{
        width: 100%;
        height:110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;

    }

    .jl-logo{
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 40px;
        background-color: #c54307;
        border-radius: 0 0 37px 0;
    }

    .jl-logo img {
        width: 56px;
        height: 40px;
        display: block;
        margin: 55px auto 0 auto;
    }
    .jl-menu {
        display: none;
    }

    .jl-btn-contact {
        width: 25px;
        height: 35px;
        display: block;
        background-color: transparent;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 39px;
        right: 35px;
        z-index: 200;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .jl-contact-info {
        width: 200px;
        height: 135px;
        padding: 23px;
        position: fixed;
        bottom: 90px;
        right: 45px;
        z-index: 200;
        display: none;
    }

    .jl-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 15px;
        line-height: 22px;
    }

    .jl-social-links {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }

    .jl-social {
        width: 45px;
        height: 20px;
        display: inline-block;
    }

    .jl-social > img {
        width: 19px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }

    .jl-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }

    .jl-corner::after {
        content: '';
        width: 20px;
        height: 27px;
        display: block;
        position: absolute;
        bottom: -19px;
        right: 0;
        background: transparent url(../images/ic.svg) no-repeat;
    }

    .jl-btn-menu-mob {
        width: 38px;
        height: 38px;
        display: block;
        border-radius: 50%;
        border: none;
        background-color: #c54307;
        color: #000000;
        position: fixed;
        right: 35px;
        top: 30px;
        z-index: 1260;
        cursor: pointer;
    }

   .jl-btn-menu-mob ion-icon {
     vertical-align: middle;
    
    }

    .jl-btn-menu-mob ion-icon img { 
        width: 30px;
       }

    .jl-menu-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: #000000;
        position: fixed;
        top: 0;
        padding: 100px 30px 30px;
        z-index: 1200;
    }

    .jl-menu-is-open {
        right: 0;
    }

    .jl-menu-is-closed {
        right: -240px;
    }   

    .jl-menu-mob a {
        width: 100%;
        height: 60px;
        display: block;
        line-height: 60px; 
        color: #fff;
        font-family: 'Open Sans', 'sans-serif';
        font-size: 14px;
        text-decoration: none;
    }

    .jl-menu-mob a:hover {
        color: #c54307;
    }

    .jl-overlay, .jl-menu-overlay {
        width: 100%;
        height: 100vh;
        display: none;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #000;
    }
}

@media screen and (min-width: 576px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){


    .jl-menu-mob {
        display: none;
    }

    .jl-btn-menu-mob {
        display: none;
    }
  
    .jl-menu {
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans';
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 0 20px;
        margin-top: 50px;
        font-weight: 400;
    }

    .jl-menu a:first-child {
        padding-left: 0;
    }

    .jl-menu a:hover {
        color: #c54307;
    }

}

@media screen and (min-width: 1200px){
    
}

@media screen and (min-width: 1364px){
    
}

@media screen and (min-width: 1600px){
    
}

.jl-title {
    font-family: 'Abril Fatface', serif;
    font-weight: normal;
}

.jl-text-orange {
    color:#c54307
}

.jl-text-black {
    color:#000000
}

.jl-text-dark {
    color:#4d4c4c
}

.jl-text-light {
    color:#bcbcbc
}

.jl-text-white {
    color:#fff
}

.jl-bg-orange {
    background-color:#c54307
}

.jl-bg-black {
    background-color:#000000
}

.jl-bg-dark {
    background-color:#4d4c4c
}

.jl-bg-light {
    background-color:#bcbcbc
}

.jl-bg-white {
    background-color:#fff
}

.jl-bg-Blacktrans {
    background-color: rgba(0, 0, 0, 0.548)
    
}

/*C comportat*/
.jl-is-open {
    display: block;
} 

.jl-change-icon {
    background-position-y: -1px -50px;
}